//colours
$gradient: linear-gradient(to right top, #84a0d0, #6cdbeb);
$glass: linear-gradient(to right bottom, rgba(239, 243, 244, 0.256), rgba(192, 239, 247, 0.783));
$deepBlue: rgb(30, 107, 134);
$darkGrey: rgb(40, 40, 40);

//details
$boxShadow: 1px 1px 10px 0px #84f4fc6d;

@mixin centerAll {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

@mixin glass {
	background: $glass;
}
