.searchResultItem {
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px 2px rgb(228, 227, 227);
	border-radius: 8px;
	padding: 10px;
	margin: auto;
	margin-bottom: 20px;
	width: 50vw;
	cursor: pointer;
}
